

<div class="panel panel-default" id="fresh">
  <div class="panel-heading" >
    <h3 class="panel-title" id="panelID">Bienvenido a El Heroe.net</h3>
  </div>
  <div class="panel-body">
    El sitio se encuentra temporalmente en construcci칩n . Si desea contactar con el administrador o sabes sobre El Heroe y desea solicitar informaci칩n sobre nuestros servicios, por favor p칩ngase en contacto con Oscar Chairez al 919-763-4923.
  </div>
</div>

<div class="panel panel-default" id="fresh">
  <div class="panel-heading" >
    <h3 class="panel-title" id="panelID">Survey</h3>
  </div>
  <div class="panel-body">
    Por favor tome el tiempo para llenar una de nuestras encuestas con el fin de ayudarnos a mejor servir a nuestra comunidad. 
Su nombre estar치 sometido en el sorteo de una nueva tableta.
  </div>
  <%= link_to 'Participa en la encuesta', controller: 'surveys', action: 'new' %>
</div>
