<h1>index</h1>
<p>
Gracias por sometimiento de la encuesta , se introduce su nombre en el dibujo de la tableta , usted será contactado por teléfono , si usted es el ganador . Como términos de la aceptación del premio se le requerirá para tomar una imagen upone recipt de su suerte prize.Good a usted y por favor vist nuevo para ver el sitio completado.</p>
<%= link_to 'Para atras', root_path%>
