<!DOCTYPE html>
<html>
<head>
	<style>
	body{
		 background-color: #cde2df;
	}
	#fresh {
		background-color: white;
		margin: auto;
		width: 50%;
		border: 3px solid #705375;
		padding: 10px;
	}
	#panelID {
		background-color: #79b8b6;
		margin: auto;
		width: 50%;
		border: 3px solid #705375;
		padding: 10px;
	}
	</style>
  <title>StaticSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body >

<%= yield %>

</body>
</html>
